/* Spacer to maintain margin space even when scrolling */
.header-spacer {
  height: 20px; /* Matches header margin */
}

.header {
  background-color: white;
  display: flex;
  justify-content: space-between; /* More natural alignment */
  align-items: center;
  height: 12vh;
  position: sticky;
  top: 30px;
  z-index: 200;
  width: 75%;
  border-radius: 60px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  padding: 0 4rem;
  margin-left: auto;
    margin-right: auto;
}

.header.scrolled {
  margin-top: 20px; /* Keeps spacing when scrolled */
}

.name {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: default;
}

.iconJ {
  display: flex;
  background-color: #27496A;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 1.5rem;
  color: #27496A;
  font-weight: 500;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1.25rem;
  transition: all 0.3s ease;
}

li {
  transition: all 0.3s ease;
}

li:hover {
  transform: scale(1.15);
  font-weight: 400;
}

a {
  color: #FC7878;
  text-decoration: none;
  transition: all 300ms ease;
}

a:hover {
  color: #FBA7A7;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

a.active {
  color: #FBA7A7;
  font-weight: medium;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

nav,
.nav-links {
  display: flex;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
